body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

#sensor-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#sensor-table th, #sensor-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#sensor-table th {
    background-color: #4DAEDC;
    color: white;
}

#sensor-table tr:hover {
    background-color: #f1f1f1;
}
